# Ignore everything...
*
# ... except preferences and package list
!.gitignore
!Default (Windows).sublime-keymap
!Emmet.sublime-keymap
!Package Control.sublime-settings
!Package Control.user-ca-bundle
!Preferences.sublime-settings
!SublimeLinter.sublime-settings
!Terminus.sublime-settings